<!doctype html>
<html lang="en" ng-app="jumiaTestApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <!-- Default CSS -->
    <link rel="stylesheet" href="./css/default.css" />

    <!-- Angular lib -->
    <script src="./js/libs/angular.min.js"></script>
    <!-- JavaScript App Definition -->
    <script src="./js/app.js"></script>

    <title>Jumia Test Services</title>
  </head>
  <body>
    <!-- Navigation - start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Jumia Test Services</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      </div>
    </nav>
    <!-- Navigation - end -->

    <!-- Main Container - start -->
    <div class="container" ng-controller="CustomerController">

      <!-- Form filter - start -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" ng-model="search.country.id" ng-change="checkEmptyCountry(this)">
              <option value="">Select Country</option>
              <option ng-repeat="c in countries" value="{{ c.id }}">{{ c.name }}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" ng-model="search.isValidPhone" ng-change="checkEmptyFilter(this)">
              <option value="">All phones</option>
              <option value="true">Valid Phones</option>
              <option value="false">Invalid Phones</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Form filter - end -->

      <!-- Table content - start -->
      <div class="row">
        <div class="col">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">State</th>
                <th scope="col">Country Code</th>
                <th scope="col">Phone Num.</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in customers | filter:search">
                <td scope="row">{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.country.name }}</td>
                <td>{{ c.isValidPhone ? 'OK' : 'NOT OK' }}</td>
                <td>{{ '+' + c.country.code }}</td>
                <td>{{ c.phone|split:' ':1 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Table content - end -->

    </div>
    <!-- Main Container - end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
